<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>PATROL &bull; Dashboard</title>
   <link rel="shortcut icon" href="../../assets/img/icon-patrol.ico" type="image/x-icon">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="../../assets/font/Gotham/Gotham.css">
   <link rel="stylesheet" href="css/styles.css">
   <!-- <style>*{outline: solid 1px green;}</style> -->
</head>
<body>

   <header aria-label="page header">
      <h1 class="visually-hidden">PATROL</h1>
      <nav aria-label="navigation bar" class="navbar navbar-expand-lg bg-body border-bottom shadow-sm">
         <div class="container-fluid px-3 px-sm-4 px-lg-5 gap-3 column-gap-3 column-gap-lg-5">
            <a href="index.html" class="navbar-brand d-flex justify-content-center align-items-center m-0">
               <img src="../../assets/img/patrol-light.png" width="100%" height="auto" alt="PATROL logo" style="max-width: 4rem;">
            </a>
            <ul class="nav ms-auto d-lg-none">
               <li class="nav-item">
                  <script src="layout/search.js"></script>
               </li>
            </ul>
            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
               <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item">
                     <script src="layout/lang.js"></script>
                  </li>
                  <li class="nav-item"><div class="vr h-100 mx-3"></div></li>
                  <li class="nav-item">
                     <script src="layout/search.js"></script>
                  </li>
                  <li class="nav-item">
                     <script src="layout/theme.js"></script>
                  </li>
                  <li class="nav-item">
                     <script src="layout/account.js"></script>
                  </li>
               </ul>
            </div>
         </div><!-- end container -->
      </nav><!-- end navbar -->
   </header><!-- end page header -->

   <main class="page-content flex-grow-1">
      <div class="container-fluid px-3 px-sm-4 px-lg-5">
         <div class="row gx-lg-5">
            <div class="col col-12 col-lg-auto">
   
               <aside aria-label="sidebar" class="sticky-top" style="top: 1rem;">
                  <div id="offcanvasMenu" class="offcanvas-lg offcanvas-end">
                     <div class="offcanvas-header border-bottom" style="background-color: var(--background);">
                        <div class="offcanvas-title">
                           <ul class="nav">
                              <li class="nav-item">
                                 <script src="layout/lang.js"></script>
                              </li>
                              <li class="nav-item">
                                 <script src="layout/account.js"></script>
                              </li>
                           </ul>
                        </div>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                        <button type="button" class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-label="close menu"></button>
                     </div>
                     <div class="offcanvas-body px-0">
                        <nav aria-label="navigation sidebar">
                           <ul id="accordionMenu" class="list-unstyled accordion">
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a href="index.html" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed link">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-display-fill d-flex" viewBox="0 0 16 16"><path d="M6 12q0 1-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75Q10 13 10 12h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2z"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textDashboard"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuDashboard" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-lg-none"><hr class="m-0"></li>
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a role="button" data-bs-toggle="collapse" href="#collapseMenuCheckpoint" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill d-flex" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textCheckpoint"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuCheckpoint" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-lg-none"><hr class="m-0"></li>
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a role="button" data-bs-toggle="collapse" href="#collapseMenuGuard" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill d-flex" viewBox="0 0 16 16"><path d="M5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textGuard"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuGuard" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-lg-none"><hr class="m-0"></li>
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a role="button" data-bs-toggle="collapse" href="#collapseMenuReport" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill d-flex" viewBox="0 0 16 16"><path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textReport"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuReport" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-lg-none"><hr class="m-0"></li>
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a role="button" data-bs-toggle="collapse" href="#collapseMenuSchedule" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date-fill d-flex" viewBox="0 0 16 16"><path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2"/><path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textSchedule"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuSchedule" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-lg-none"><hr class="m-0"></li>
                              <li class="accordion-item">
                                 <h5 class="accordion-header">
                                    <a role="button" data-bs-toggle="collapse" href="#collapseMenuTask" class="accordion-button text-uppercase text-reset text-decoration-none d-flex align-items-center gap-2 collapsed">
                                       <i class="link-icon" aria-hidden="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-check-fill d-flex" viewBox="0 0 16 16"><path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"/><path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708"/></svg>
                                       </i>
                                       <span class="link-text" data-i18n="textTask"></span>
                                    </a>
                                 </h5>
                                 <div class="collapse accordion-collapse" id="collapseMenuTask" data-bs-parent="#accordionMenu">
                                    <div class="accordion-body pe-lg-0">
                                       <ul class="nav flex-column">
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                          <li class="nav-item">
                                             <a href="#" class="nav-link d-flex align-items-center gap-2 h-100 text-capitalize text-reset">link menu</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                           </ul><!-- end accordion menu -->
                        </nav>
                     </div>
                  </div><!-- end offcanvas menu -->
               </aside><!-- end sidebar -->
   
            </div><!-- end col -->
            <div class="col col-12 col-lg">
               <div class="row phase-list row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4">
   
                  <div class="col phase-item">
                     <article aria-label="phase card" class="phase-card card">
                        <div class="ratio ratio-16x9"></div>
                     </article>
                  </div><!-- end col -->
   
               </div><!-- end row -->
               <div class="vh-100"></div>
            </div><!-- end col -->
         </div><!-- end row -->
      </div><!-- end container -->
   </main><!-- end page content -->

   <footer aria-label="page footer">
      <div class="container-fluid px-3 px-sm-4 px-lg-5">
         <hr>
         <p class="text-center text-lg-start mb-4 small">
            <span data-i18n="developBy" class="opacity-50"></span> &#128148; <span class="opacity-50">INDRACODEV</span> &copy;<script>document.write(new Date().getFullYear())</script> PATROL. <span data-i18n="copyright" class="opacity-50"></span>
         </p>
      </div><!-- end container -->
   </footer><!-- end page footer -->

   <script src="js/jquery-3.7.1.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/themeSwitcher.js"></script>
   <script src="js/lang.js"></script>
   <script src="js/scripts.js"></script>
</body>
</html>